@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

$primary-color: rgb(0, 132, 255);

html,
body {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  border: 2px;
  border-color: black;
  border-radius: 10%;
  color: $primary-color;
}

.list {
  width: 50%;
}
