@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap");

$primary-color: rgb(20, 20, 20);

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

h1 {
  color: $primary-color;
}

ul {
  padding-left: 0.8rem;
}

li {
  list-style-type: none;
  line-height: 28px;
}

label {
  padding-right: 0.4rem;
}

button {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  border-width: 0;
  background-color: crimson;
  color: ghostwhite;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0.4rem;
}

.submit-button {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 0.2rem 0.8rem;
  margin-left: 0.2rem;
  cursor: pointer;
  background-color: inherit;
}

.submit-button:hover {
  background-color: slategray;
  border-color: slategray;
  color: ghostwhite;
}

.randomise-button {
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
  background-color: rgb(0, 132, 255);
  font-weight: normal;
}

.randomise-button:hover {
  background-color: rgb(2, 115, 221);
}

.input-box {
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  font-size: 14px;
}

.app-container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  h1 {
    text-align: center;
    color: $primary-color;
    padding: 2rem 4rem;
    font-size: 36px;
  }
}

.body-container {
  display: flex;
  justify-content: space-around;
  // width: 100%;
}

.list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 6rem;
}

.randomiser-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 6rem;
}
